<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mister's TTT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="static/css/bootstrap-slate.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="static/css/html5shiv.min.js"></script>
      <script src="static/css/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="well well-lg">
        <div class="row">
          <div class="col-lg-6">
            <h3 class="text-center">Chat commands</h3>
            <ul class="list-group">
              <li class="list-group-item">
                !ulx menu - Opens the menu
              </li>
              <li class="list-group-item">
                !ulx votekick #playerName# - Start a kick vote
              </li>
              <li class="list-group-item">
                !rtv - Vote to change map
              </li>
              <li class="list-group-item">
                @ message here - Write to any connected admin
              </li>
              <li class="list-group-item">
                !motd - If you somehow want to see this again
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <h3 class="text-center">Rules</h3>
            <ul class="list-group">
              <li class="list-group-item">
                No RDM - Dont shoot unless you have proof
              </li>
              <li class="list-group-item">
                Mic spamming - Nothing more anoying than your background noise
              </li>
              <li class="list-group-item">
                Foul language - No excessive swearing
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-lg-offset-8">
          <div class="well">
            <a href="http://github.com/tazaar/">Made by tazaar</a> | &copy; 2014 Johan Englund | <a href="http://steampowered.com">Powered by Steam</a>
          </div>
        </div>
      </div>

    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>